{{!< layout}}
<header class="aui-page-header">

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <table border=0>
          {{#commits}}
            <tr>
              <td>{{sha}}</td>
              <td>{{author.raw}}</td>
              <td>{{message}}</td>
            </tr>
          {{/commits}}
          </table>
        </div>
      </div>
    </section>
  </div>
</div>